
/*.header{
	width: 100%;
	height: 200px;
	background: orange;
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
*/
body{
	background-color: #666;

}
.header{
	background: #fff;
	margin: 0;
}
.header__inner{
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*height: 200px;*/
	position: relative;

}
.logo{
	max-width: 3rem;
}
.logo img{
	width: 100%;
}
.menu{
	display: flex;
	align-items: center;
	list-style: none;


}
li:hover{
	cursor: pointer;
}
.menu__item{
	margin: 0 1rem;
}
.menu__item:before{
	position: absolute;
	content: "";
	border: 20px solid transparent;
	width: 50px;
	top: 60%;
	

}
.menu__link{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-size: 1.0rem;
	display: block;
}
.menu__item:hover .menu__child{
	opacity: 1;
	visibility: visible;
	transition: 0.5s linear;
}
.menu__child{
	position: absolute;
	background-color: white;
	top: 100%;
	display: flex;
	width: 100%;
	left: 0;
	justify-content: space-between;
	align-items: center;
	opacity: 0;
	visibility: hidden;
}

.menu__child-item{
	width: 25%;
	padding: 0;
	/*border-right: 1px solid white;*/
}
.menu__child-item h4{
	color: #fff;
	font-size: 1rem;
	/*padding: 1rem;*/
	padding: 10px 30px;
	background-color: #00aefd;
	margin: 0px;
	/*text-align: center;*/
}
.menu__child-list{
	list-style: none;
	padding: 0;
	border-right: 1px solid #00aefd;
	/*background-color: red;*/

}
.menu__child-list li{
	padding: 5px 20px;
	/*border-top: 1px solid #eee;*/
}
.menu__child-list li:hover{
	margin-left: 12px;
	transition: all .5s ;
}
