        .title {
            height: 40px;
            line-height: 40px;
            overflow: hidden;
            padding-left: 31px !important;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            position: relative;
        }
        
        .title:after {
            position: absolute;
            content: "";
            border-left: 5px solid var(--primary-color);
            border-width: 5px;
            height: 42px;
            margin-left: -214px;
        }
        
        .block-news {
            width: 90%;
            margin: 20px auto !important;
            padding: 10px 20px !important;
            margin-bottom: 20px !important;
        }
        
        .block-new-infor {
            padding: 10px 15px !important;
        }
        
        .new-item-img {
            width: 100%;
            display: block;
        }
        
        .new-item-img img {
            width: 100%;
            height: 100%;
        }
        
        .new-item-info-text {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .new-item-info-text h3 {
            display: block;
            margin: 0;
            /* line-height: 20px; */
            text-transform: uppercase;
            /* height: 40px; */
            /* overflow: hidden; */
            font-size: 14px;
        }
        
        .new-item-info-text h3 a {
            color: #444444;
            display: block;
        }
        
        .newItem-recap {
            margin: 0;
            font-size: 13px;
            line-height: 20px;
            overflow: hidden;
        }
        
        .block-right-news {
            padding: 10px 10px !important;
        }
        
        .products-ver {
            padding: 0;
            margin: 0;
            border: 1px solid #c0b8b9;
            margin-top: 20px;
        }
        
        .products-ver li {
            display: block;
            border-bottom: 1px solid #ddd;
        }
        
        .pro-item-mini {
            padding: 10px;
            min-height: 100px;
            text-align: center;
        }
        
        .pro-img {
            display: block;
            width: 100%;
            /* height: 74px; */
            text-align: center;
            border: 1px solid #ddd;
            margin-top: 12px;
        }
        
        .pro-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .pro-star {
            color: #eca330;
            line-height: 14px;
            padding-top: 5px;
        }
        
        .pro-star i {
            padding: 0 2px;
            font-size: 11px;
            line-height: inherit;
        }
        
        .pro-name {
            display: block;
            max-height: 40px;
            overflow: hidden;
            margin-top: 8px;
        }
        
        .pro-name h6 {
            color: #444444;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            margin: 0;
        }
        
        .pro-item-mini-price {
            color: red;
            font-size: 14px;
        }
        
        @media only screen and (min-width: 300px) and (max-width: 575px) {
            .block-news {
                width: 96%;
                margin: 20px auto !important;
                padding: 20px 20px !important;
                margin-bottom: 20px !important;
            }
        }
        
        @media only screen and (min-width: 576px) and (max-width: 767px) {
            .block-news {
                width: 96%;
                margin: 20px auto !important;
                padding: 20px 20px !important;
                margin-bottom: 20px !important;
            }
        }