    .container_product-detail {
        width: 91% !important;
        margin: 10px auto !important;
        padding: 10px 10px !important;
        margin-bottom: 10px;
    }
    
    .proImg-list {
        margin: 0 auto !important;
    }
    
    .proImg-list ul {
        margin: 0 !important;
        padding: 0px !important;
    }
    
    .proImg-list li {
        border: 1px solid #ddd;
        /* padding: 2px; */
        display: block;
        /* width: 46px;
    height: 46px; */
        margin-bottom: 10px;
        background: #fff;
    }
    
    .proImg-list a {
        display: block;
        /* width: 40px;
    height: 40px; */
        cursor: pointer;
    }
    
    .proImg-list a img {
        width: 100%;
        height: 100%;
    }
    
    .proImg-big {
        border: 1px solid #fff;
        padding: 5px;
        background: #fff;
    }
    
    .proImg-big a {
        display: block;
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .proImg-big a img {
        width: 100%;
        height: 100%;
    }
    /* right */
    
    .box-proInfo {
        width: 100%;
        padding: 12px 50px !important;
    }
    
    .product-title-recap {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }
    
    .box-proInfo a {
        color: #444444;
    }
    
    .box-info-feature {
        margin-bottom: 30px;
    }
    
    .variations-tableInfo {
        width: 100%;
    }
    
    .table-label {
        width: 180px;
        vertical-align: top;
        padding: 5px 0;
        line-height: 20px;
    }
    
    .table-value {
        vertical-align: top;
        padding: 5px 0;
        line-height: 20px;
    }
    
    .price-sale {
        color: Red;
        font-weight: 700;
        font-size: 18px;
    }
    
    .list-color {
        width: 50px;
        line-height: 0px;
        list-style: none;
        margin: 0px !important;
        padding: 0px !important;
    }
    
    .list-color li {
        /* float: left; */
        display: block;
        padding: 0 5px 5px 0;
    }
    
    .table-value a {
        display: block;
        /* padding: 2px 5px; */
        border-radius: 2px;
        font-size: 10px;
        line-height: 0px;
    }
    
    .table-value a img {
        width: 100%;
        height: 100%;
    }
    
    .buy-cart-button {
        width: 130px;
    }
    
    .buy-cart-button a {
        display: block;
        height: 40px;
        line-height: 40px;
        background: #df1f26;
        border: 1px solid #df1f26;
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        width: 100%;
    }
    
    .buy-cart-button a :hover {
        background: #df1f26 !important;
        color: #fff !important;
    }
    /* block-product-content */
    
    .block-product-content {
        margin-top: 30px;
    }
    
    .tab-container {
        border: 1px solid #ddd;
        border-top: 0;
        padding: 20px;
    }
    
    #contentProduct.active {
        max-height: none;
        padding-bottom: 45px;
    }
    
    .view-content-title {
        text-align: center;
    }
    
    .view-content-title span strong a {
        text-decoration: none;
        color: #444444;
        cursor: pointer;
        font-weight: 500;
    }
    
    .view-content {
        text-align: justify;
    }
    
    .content-img {
        text-align: center;
        margin-top: 30px;
    }
    
    .view-content div,
    .view-content iframe,
    .view-content img,
    .view-content p,
    .view-content table {
        max-width: 100%;
        line-height: 20px;
    }
    
    .view-content-detail {
        margin-bottom: 180px;
    }
    
    @media only screen and (min-width: 300px) and (max-width: 575px) {
        .box-proInfo {
            width: 100%;
            padding: 12px 10px !important;
        }
    }
    
    @media only screen and (min-width: 576px) and (max-width: 767px) {
        .box-proInfo {
            width: 100%;
            padding: 12px 10px !important;
        }
    }