.register-container {
    width: 60%;
    margin: 30px auto;
    /* background-color: blanchedalmond; */
}

.register-container h2 {
    text-align: center;
    text-transform: uppercase;
}

#form {
    width: 80% !important;
    margin: 0px auto !important;
}

small {
    visibility: hidden;
}

.error>small {
    color: red;
    visibility: visible;
}

.error>input {
    border: 1px solid red;
}

.success>input {
    border: 1px solid green;
}