.slick {
    background-color: #fff;
    margin-top: 30px !important;
}

.slick-dots {
    display: none !important;
}

.partner-title {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #d35400;
}

.partner-title span {
    font-weight: bold;
    color: var(--primary-color);
}

.category_title {
    margin-left: 80px;
    font-size: 18px;
    font-weight: 500;
    border-left: 5px solid var(--primary-color);
    padding-left: 5px;
    text-transform: uppercase;
}

.slick-partner {
    width: 90% !important;
    margin: 20px auto !important;
}

.block-slick-partner {
    box-shadow: 0px 10px 8px -5px #7f8fa6 !important;
}

.slick-partner .block-slick-partner:hover {
    box-shadow: 0px 10px 8px -5px #7f8fa6;
    cursor: pointer;
}

.partner-img-slick {
    margin: 5px auto !important;
    text-align: center !important;
    display: block !important;
    opacity: .8;
}

.product-img-slick:hover {
    opacity: 1;
}

.partner-img-slick-style {
    margin: 0 auto;
    height: 100px;
}

.product-name-slick a:hover {
    color: var(--primary-color);
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: black !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button.slick-prev.slick-arrow {
    display: none !important;
}

button.slick-next.slick-arrow {
    display: none !important;
}

@media only screen and (min-width: 300px) and (max-width: 575px) {
    .category_title {
        margin-left: 31px;
    }
}